/*
*   Author      : Philip Daniel Hayton <phil@thehaytonproject.com>
*   Description : Specify breakpoints here.
*/


$bp-tablet    : 768px;
$bp-desktop   : 1440px;

//  Use this to adjust the max width of the container
$bp-max-width : 1400px;
