<form>

  <div class="controls">
    <label>
      <input type="radio" name="direction" value="up" />
      <span class="icon icon-arrow-up"></span>
    </label>
    <br />
    <label>
      <input type="radio" name="direction" value="left" />
      <span class="icon icon-arrow-left"></span>
    </label>
    <label>
      <input type="radio" name="direction" value="down" />
      <span class="icon icon-arrow-down"></span>
    </label>
    <label>
      <input type="radio" name="direction" value="right" checked="checked" />
      <span class="icon icon-arrow-right"></span>
    </label>
  </div>

  <div class="l-pt1x text--center">
    <input type="number" placeholder="Power" name="distance" />
    <button type="button" class="button--cta">Swing</button>
  </div>

</form>
